@media (max-width: 1920px) {
  header {
    max-width: 1920px;
  }

  footer {
    width: 100%;
    max-width: 1920px;
  }
}

@media (max-width: 1300px) {
  header {
    padding: 0 20px;
  }

  .logo {
    margin-left: 0;
  }

  h2 {
    padding-left: 20px;
  }

  .content-box {
    margin-left: 20px;
  }

  #basket-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content-basket {
    width: 100%;
    max-width: 435px;
  }
}

@media (max-width: 1200px) {
  .logo {
    margin-left: 0;
  }

  #dish-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-box {
    margin-left: 0;
  }

  #basket-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 4;
  }

  #basket-wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 5;
    pointer-events: none;
  }

  #basket-wrapper.is-visible,
  #basket-overlay.is-visible {
    display: flex;
  }

  .content-basket {
    top: 50px;
    width: 100%;
    max-width: 435px;
    pointer-events: auto;
    border-radius: 15px;
  }

  .big-basket-btn {
    display: block !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 60px !important;
    background-color: #f3f0ea !important;
    color: #235028 !important;
    font-size: 28px !important;
    font-weight: bold;
    border: none;
    cursor: pointer;
    z-index: 9999 !important;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  }

  h2 {
    position: static;
    transform: none;
    width: 100%;
    max-width: 100%;
    left: auto;
    margin-top: 40px;
    padding-left: 0px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
  }

  h2 + .content-box {
    margin-top: 20px;
  }
}

@media (max-width: 760px) {
  .content-box {
    max-width: 720px;
    width: auto;
  }
}

@media (max-width: 550px) {
  h2 {
    text-align: center;
    padding-left: 0;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    height: 280px;
    gap: 20px;
  }

  .dish-img {
    height: 121px;
    width: 100%;
    align-items: center;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0;
  }
}

.dish-description {
  margin: 0;
}

.price {
  position: absolute;
  left: 0;
  bottom: 0;
}

footer {
  gap: 20px;
}

@media (max-width: 760px) {
  .content-box {
    max-width: 720px;
    width: auto;
  }
}

@media (max-width: 480px) {
  .title {
    flex-direction: column;
    gap: 0;
    margin-bottom: 10px;
  }

  .content-basket {
    top: 0;
    max-width: 300px;
    height: 570px;
  }

  .added-to-basket {
    max-width: 300px;
    height: 300px;
  }

  .content-basket h3,
  .content-basket p,
  .content-basket img {
    margin-top: 20px;
  }

  .basket-description {
    height: 80px;
    width: 100%;
    max-width: 300px;
    justify-content: center;
  }

  .basket-price {
    font-size: 10px;
    white-space: nowrap;
  }

  .calculate {
    width: 90%;
    max-width: 300px;
  }

  #basket-name {
    width: 90%;
    max-width: 300px;
  }

  .content-basket p {
    width: auto;
  }

  .subtotal {
    width: 90%;
    justify-content: space-between;
  }

  .delivery-fee {
    width: 90%;
    justify-content: space-between;
  }

  .total {
    width: 90%;
    justify-content: space-between;
  }

  .buy-now {
    margin-bottom: 20px;
    margin-left: 0;
    width: 244px;
    max-width: 320px;
  }

  .big-basket-btn {
    height: 40px !important;
  }

  footer {
    flex-direction: column;
    gap: 5px;
    justify-content: start;
  }
}
